@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* 옵션 */
  outline-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
html {
  /* 최대로 줄였을 때 아래에 스크롤바가 생겨서 없앴음. */
  /* overflow 전체에 hidden을 넣으면 전체가 무너질 가능성이 있어서 */
  /* x축만 넣어주었음. */
  overflow-x: hidden;
}
/* 글꼴이 두개 들어갈 때 우선순위를 생각하고 배치를 해야함 */
/* inter는 영어만 지원하기 때문에 아래처럼 배치 가능 */
/* noto sans 는 한글만! */
body {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}
/* 모서리 둥굴게 휨새 주는 태그 - 전체적으로 재활용해야하는
코드라서 미리 넣고 class 명에 br-20만 넣어주면 편하다옹 */
.br-20 {
  border-radius: 20px;
}
.bt-wrap {
  width: 100%;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.bt-more {
  display: block;
  padding: 11px 20px;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  transition: all 0.1s;
  border-radius: 20px;
}
.bt-more:hover {
  background: #000;
  color: #fff;
}
.wrap {
  position: relative;
  padding-top: 70px;
}
.inner {
  width: calc(100% - 30px);
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}
